<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Guillaume RICHARD">

    <meta name="description" content="{{ description|raw }}" />
    <meta name="keywords" content="{{ keywords }}" />

    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/examples/jumbotron/jumbotron.css">

    <title>{{ title|raw }}</title>
</head>